@use 'components/_sidebar.scss';
@use 'components/topbar.scss';
@use 'components/searchbox.scss';
@use 'components/iconbutton.scss';
@use 'components/_card.scss';
@use '_base.scss';
@use 'layouts/dashboard';
@use 'layouts/pagination';
@use 'layouts/table';
@use 'layouts/auth';
@use 'components/button';
@use 'layouts/__website';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: base.$font-family;
}

input[type='date']:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type='date']:focus::-webkit-datetime-edit {
  color: black !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
