@use '../base';

.sidebar {
  min-width: 300px;
  height: 100%;
  border-radius: 15px;
  background-color: base.$pale-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  z-index: 1;
  gap: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.sidebar-option {
  height: 3rem;
  cursor: pointer;
  transition: 0.4s ease-in;
  position: relative;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 2rem;
  font-size: 1.5rem;
  z-index: 9 !important;

  svg {
    color: base.$light-blue;
  }

  p {
    color: base.$gray;
    font-size: 1rem;
    font-weight: bold;
  }

  &:hover {
    transform: scale(1.1);
  }

  .sidebar-option-mask {
    transition: 0.1s ease-in;
    width: 40px;
    height: 100%;
    left: 100%;
    top: 0;
    position: absolute;
    background-color: white;
    position: absolute;
    transform: scaleX(0);
  }
}
.option-active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  /* Move the ::after element 30 pixels to the left */
  .sidebar-option-mask {
    z-index: -1 !important;
    transform-origin: right;
    transform: scaleX(100%);
  }
}
