@use '../base';

.sidebar {
  z-index: 9999999;
  min-width: 300px;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: base.$pale-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  z-index: 1;
  gap: 2rem;
  transition: .2s ease-in;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.sidebar-option {
  height: 3rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  position: relative;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  gap: 2rem;
  font-size: 1.5rem;
  z-index: 9 !important;
  box-shadow: 0 1px 3px #00000022;


  svg {
    color: base.$light-blue;
  }

  p {
    color: base.$gray;
    font-size: 1rem;
    font-weight: 500;
  }

  &:hover {
    transform: scale(1.05);
  }

  .sidebar-option-mask {
    transition: 0.1s ease-in;
    width: 40px;
    height: 100%;
    left: 100%;
    top: 0;
    position: absolute;
    background-color: white;
    position: absolute;
    transform: scaleX(0);
  }
}
.option-active {
  width: 300px;
  margin-left: 5rem;
  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;
  // /* Move the ::after element 30 pixels to the left */
  // .sidebar-option-mask {
  //   z-index: -1 !important;
  //   transform-origin: right;
  //   transform: scaleX(100%);
  // }
}


.side-bar-toggle{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top:2rem;
  left: .7rem;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color:base.$light-blue;
  cursor: pointer;
  box-shadow: 0 1px 3px #00000022;

}

.profile-option{
  height: 3rem;
  aspect-ratio: 1/1;
  box-shadow: 0 1px 3px #00000022;
  border-radius: 10px;
  position: absolute;
  bottom:2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: base.$light-blue;
  }
}

@media screen and (max-width: 905px) {

  .sidebar{
    position: fixed;
    height: 100%;
    width: 4.5rem;
    min-width: 30px !important;
    top:0;
    left:0;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;
  }

  .open-sidebar{
    width: 300px !important;

    .option-active{
      width: 20rem;
      margin-left:7rem;
    }
  }

  .side-bar-toggle{
    display: flex;
  }

  .option-active{
    width: 6rem;
    margin-left:3rem;
  }
 }

 @media screen and (max-width: 420px) {

  .sidebar{
    position: fixed;
    height: 5rem;
    width: 100%;
    padding: .5rem 0;
    flex-direction: row;
    justify-content: space-evenly;
    top:unset;
    bottom: 0;
    left:0;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px;
    border-top:1px solid rgba(128, 128, 128, 0.147);
    background-color: white;
  }

  .open-sidebar{
    all:unset;

  }

  .side-bar-toggle{
    display: none;
  }

  .option-active{
    margin: 0 !important;
    svg, p{
      color:base.$blue;
    }
    
  }

  .sidebar-option{
    width: 4rem;
    // overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    border:none;
    box-shadow: none;
    background: none !important;
    flex-direction: column;
    p{
      font-size: .7rem;
      font-weight:300;
    }
  }

 }


