@use '../base';

.layout-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 2rem;
  padding-top: 8rem;
}
.dashboard-container {
  width: 100%;
  height: 100%;
}

.page-content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-title-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: base.$black;
    font-size: 2.5rem;
    span {
      font-weight: 700;
    }
  }
}

.home-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
}

.home-bottom-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.latest-tasks-cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.latest-tasks-cards-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    color: base.$black;
    font-size: 1.2rem;
  }
}

.latest-tasks-card {
  width: 100%;
  height: 8.5rem;
  border: 1px solid base.$light-gray;
  padding: 0.6rem;
  border-radius: 10px;

  .ltc-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 500;
      color: base.$text-gray;
    }

    & > div {
      h2 {
        color: base.$black;
        font-size: 1.2rem;
        font-weight: 500;
      }
      p {
        font-weight: 500;
        font-size: 1rem;
        color: base.$text-gray;
      }
    }
  }
}

.ltc-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  .ltc-status {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    p {
      color: base.$gray;
      font-weight: 500;
    }
  }
}

.page-subtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;

  p {
    color: base.$black;
    font-size: 1.2rem;
  }
}

.ct-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.card-icon-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: 1rem;

  svg {
    font-size: 2rem;
    font-size: 2.5rem;
  }

  p {
    color: base.$text-gray;
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.ct-form-container {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  gap: 2rem;
  height: 500px;
  align-items: center;
  justify-content: space-between;
}

.ct-form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.button-options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.view-task-banner {
  margin-top: 1rem;
  width: 100%;
  height: 13rem;
  background-color: base.$blue;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  padding: 1rem;
}

.vtb-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;

  svg {
    margin-left: 1rem;
    font-size: 8rem;
    color: hsla(221, 76%, 75%, 0.2);
  }

  & > div {
    height: 100%;
    padding-bottom: 1.2rem;
    padding-left: 1rem;

    h1 {
      font-size: 3rem;
      color: white;
      font-weight: 500er;
    }

    h3 {
      color: base.$light-blue;
      font-size: 1.5rem;
      font-weight: 500;
    }

    p {
      color: base.$light-blue;
      font-size: 1rem;
    }
  }
}

.vtb-images-container {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}

.vtb-bottom-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  height: 250px;
}

.vtb-bottom-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vtb-bottom-card-layout {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  p {
    font-weight: 700;
    margin-left: 1rem;
    color: base.$text-gray;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    padding-bottom: 2rem;

    img {
      max-width: 4rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

    p {
      color: base.$text-gray;
      font-weight: normal;
      font-size: 1.2rem;
      margin: 0;
      width: 50%;
    }

    svg {
      font-size: 3rem;
    }
  }
}

.vtb-expenses-container {
  width: 80%;
  margin-top: 1rem;
  h3 {
    color: base.$text-gray;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  .expenses-parameter {
    width: 5rem;
    height: 3rem;
    background-color: base.$pale-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-bottom: 3px solid base.$light-gray;
    p {
      color: base.$black;
    }
  }

  .expenses-total {
    grid-area: 2 / 2 / 3 / 4;
    color: base.$text-gray;
    font-size: 2rem;
    height: 100%;
    text-align: end;
    line-height: 3rem;
  }
}

.vtb-offers-container {
  width: 100%;
  padding-left: 5rem;

  h3 {
    color: base.$text-gray;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

.vtb-single-offer {
  margin-top: 1rem;
  height: 5rem;
  position: relative;
  cursor: pointer;
  width: 12rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    aspect-ratio: 1/1;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
  }

  .vtb-single-offer__info {
    display: flex;
    flex-direction: column;
    p {
      color: base.$black;
      font-size: 0.8rem;
    }

    h2 {
      font-size: 1rem;
      color: base.$blue;
    }
  }
}

.see-more {
  border: none;
  outline: none;
  background-color: base.$pale-blue;
  color: base.$light-blue;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.square-image {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  object-fit: cover;
}

.job-offer-header {
  height: 5rem;
  display: flex;
  gap: 1rem;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    & > div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.joh-top {
  font-size: 1.3rem;
  color: base.$text-gray;
}
.joh-bottom {
  color: base.$gray;
  font-size: 1rem;
  width: 100%;
  text-align: start;
}

.job-offer-container {
  width: 50%;
  height: max-content;
  margin-top: 1rem;
  padding: 2rem 1rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.gap1 {
  gap: 1rem;
}

.card-with-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: 700;
  color: base.$text-gray;
}

.column {
  flex-direction: column;
}

.just-end {
  justify-content: flex-end;
}

.pad1 {
  padding: 1rem;
}

.page-half-section {
  width: 100%;
  height: 100%;
}

.page-halves-layout {
  width: 100%;
  display: flex;
  height: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

.worker-home-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  max-height: calc(100% - 15rem);
  overflow: auto;
}

.worker-job-card {
  width: 100%;
  height: 8rem;
  background-color: base.$pale-blue;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem;

  svg {
    color: base.$light-blue;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2,
  p {
    color: base.$text-gray;
    font-size: 0.9rem;
  }

  .date {
    font-size: 0.8rem;
    color: base.$text-gray;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.green-text {
  background-color: base.$pale-green;
  padding: 5px;
  font-weight: 500;
  color: base.$green !important;
  border-radius: 5px;
}
