@use '../base';

.layout-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 2rem;
  padding-top: 8rem;
}
.dashboard-container {
  width: 100%;
  height: 100%;
}

.page-content, .page-content-static {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-title-bar, .content-title-bar-messages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: base.$black;
    font-size: 2.5rem;
    span {
      font-weight: 700;
    }
  }
}

.home-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  justify-items: center;
}


.home-bottom-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.info-cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.info-cards-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  p {
    color: base.$black;
    font-size: 1.2rem;
  }
}

.info-card {
  width: 100%;
  height: 8.5rem;
  border: 1px solid base.$light-gray;
  padding: 0.6rem;
  border-radius: 10px;

  .ic-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    p {
      font-weight: 500;
      color: base.$text-gray;
    }

    & > div {

      max-width: 70%;
      overflow: hidden;
      white-space:nowrap; 
      text-overflow: ellipsis;
      white-space: nowrap;


      h2 {
        color: base.$black;
        max-width: 100%;
        white-space: nowrap;
        white-space:nowrap; 
        text-overflow: ellipsis;
        font-size: 1.2rem;
        font-weight: 500;
      }
      p {
        font-weight: 500;
        font-size: 1rem;
        color: base.$text-gray;
      }
    }
  }
}

.ic-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  &__rating {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
    p {
      max-width: 75%;
      color: base.$text-gray;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    h1 {
      font-size: 3rem;
      color: base.$blue;
    }
  }

  .ic-status {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    p {
      color: base.$gray;
      font-weight: 500;
    }
  }
}

.page-subtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;

  p {
    color: base.$black;
    font-size: 1.2rem;
  }
}

.ct-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  justify-items: center;
}

.ct-map-container {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

.card-icon-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: 1rem;

  svg {
    font-size: 2rem;
    font-size: 2.5rem;
  }

  p {
    color: base.$text-gray;
    font-weight: 500;
    font-size: 1.4rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.ct-form-container {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  gap: 2rem;
  height: 600px;
  align-items: center;
  justify-content: space-between;
}

.ct-form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.button-options-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.view-task-banner {
  margin-top: 1rem;
  width: 100%;
  height: 13rem;
  background: linear-gradient(260deg, rgba(66,142,204,1) 0%, rgba(0,80,208,1) 100%);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  padding: 1rem;
}

.vtb-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;

  svg {
    margin-left: 1rem;
    font-size: 8rem;
    color: hsla(221, 76%, 75%, 0.2);
  }

  & > div {
    height: 100%;
    padding-bottom: 1.2rem;
    padding-left: 1rem;

    h1 {
      font-size: 3rem;
      color: white;
      font-weight: 500er;
    }

    h3 {
      color: base.$light-blue;
      font-size: 1.5rem;
      font-weight: 500;
    }

    p {
      color: base.$light-blue;
      font-size: 1rem;
    }
  }
}

.vtb-images-container {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}

.vtb-bottom-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  height: 250px;
}

.vtb-bottom-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vtb-bottom-card-layout {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  p {
    margin-left: 1rem;
    width: max-content;
    color: base.$text-gray;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    padding-bottom: 2rem;

    img {
      max-width: 4rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

    p {
      color: base.$text-gray;
      font-weight: normal;
      font-size: 1.1rem;
      margin: 0;
      width: max-content;
    }

    svg {
      font-size: 3rem;
    }
  }
}

.vtb-expenses-container {
  width: 80%;
  margin-top: 1rem;
  h3 {
    color: base.$text-gray;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  .expenses-parameter {
    width: 5rem;
    height: 3rem;
    background-color: base.$pale-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-bottom: 3px solid base.$light-gray;
    p {
      color: base.$black;
    }
  }

  .expenses-total {
    grid-area: 2 / 2 / 3 / 4;
    color: base.$text-gray;
    font-size: 2rem;
    height: 100%;
    text-align: end;
    line-height: 3rem;
  }
}

.vtb-offers-container {
  width: 100%;
  padding-left: 5rem;
  height: 100%;

  h3 {
    color: base.$text-gray;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  
  &__wait{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;

    p{
      font-weight: 300;
      text-align: center 
    }
  }
}

.vtb-single-offer {
  margin-top: 1rem;
  height: 5rem;
  position: relative;
  cursor: pointer;
  width: 12rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    aspect-ratio: 1/1;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
  }

  .vtb-single-offer__info {
    display: flex;
    flex-direction: column;
    p {
      color: base.$black;
      font-size: 0.8rem;
    }

    h2 {
      font-size: 1rem;
      color: base.$text-gray;
    }
  }
}

.see-more {
  border: none;
  outline: none;
  background-color: base.$pale-blue;
  color: base.$light-blue;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.square-image {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  object-fit: cover;
}

.job-offer-header {
  height: 5rem;
  display: flex;
  gap: 1rem;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    & > div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.joh-top {
  font-size: 1.3rem;
  color: base.$text-gray;

}
.send-message{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:1rem;
  svg{
    font-size: 1.5rem;
    color:base.$light-blue;
    cursor: pointer;
    transition: .2s ease-in;
    &:hover{
      color: base.$blue;
    }
  }
}
.joh-bottom {
  color: base.$gray;
  font-size: 1rem;
  width: 100%;
  text-align: start;
}

.job-offer-container {
  width: 50%;
  height: max-content;
  margin-top: 1rem;
  padding: 2rem 1rem;
}

.card-with-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: 700;
  color: base.$text-gray;
}

.page-half-section {
  width: 100%;
  height: 100%;
}

.page-halves-layout {
  width: 100%;
  display: flex;
  height: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

.worker-home-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  max-height: calc(100% - 15rem);
  overflow: auto;
}

.worker-job-card {
  width: 100%;
  height: 8rem;
  background-color: base.$pale-blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem;

  svg {
    color: base.$light-blue;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2,
  p {
    color: base.$text-gray;
    font-size: 0.9rem;
  }

  .date {
    font-size: 0.8rem;
    color: base.$text-gray;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.green-text {
  background-color: base.$pale-green;
  padding: 5px;
  font-weight: 500;
  color: base.$green !important;
  border-radius: 5px;
}

.worker-home-modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;

  & > div {
    min-width: 85vw;
    position: relative;
    padding: 5rem;
    height: 80vh;
    min-height: 80vh;
    background-color: white;
    border-radius: 15px;
    animation: down 0.5s ease-out forwards;
  }
}

.search-categories-container {
  display: flex;
}

.selected-categories-grid {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.selected-category-item {
  width: 100%;
  height: 2.5rem;
  background-color: base.$pale-blue;
  display: flex;
  position: relative;
  gap: 1rem;
  align-items: center;
  padding-left: 1rem;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;

  svg {
    color: base.$light-blue;
    font-size: 1.2rem;
  }

  &:hover::after {
    opacity: 1;
  }

  &::after {
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in;
    height: 100%;
    top: 0;
    pointer-events: none;
    left: 0;
    position: absolute;
    background-color: rgba(220, 20, 60, 0.423);
    content: 'X';
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.categories-modal-button {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

@keyframes down {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.modal-wrapper {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 400px;
  height: max-content;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  animation: down 0.3s ease-out forwards;
}

.rate-number {
  font-size: 4rem;
  font-weight: 700;
  color: base.$gray;
  transition: 0.15s ease-in;
  cursor: pointer;

  &:hover {
    color: base.$light-blue;
  }
}

.profile-image-container {
  height: 6rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
  }

  h2 {
    color: base.$black;
  }
}

.info-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid base.$gray;
  padding-bottom: 0.5rem;

  h4,
  p {
    font-size: 1.2rem;
    color: base.$text-gray;
  }
}
.send-offer-modal {
  background-color: white;
  border-radius: 15px;
  padding: 2.4rem 3rem;
  animation: down 0.3s ease;
  width: 50vw;
  position: relative;

  h2 {
    color: base.$text-gray;
  }
}

.view-offers-modal{
  background-color: white;
  border-radius: 15px;
  padding: 5rem 3rem;
  position: relative;
  animation: down 0.3s ease;
  min-height: 90vh;
  max-height: 90vh;
  overflow: auto;
  width: 80vw;

  &__content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap:1rem;
    
    &__single-offer{
      width: 100%;
      border-bottom: 1px solid rgba(128, 128, 128, 0.147);
      display: flex;
      flex-direction: column;
      gap:1.5rem;
      padding: 1rem;
      justify-content: space-between;

      &--arrow{
        height: 100%;
        aspect-ratio: 1/1;
        background-color: base.$pale-blue;
        display: flex !important ;
        align-items: center !important ;
        justify-content: center !important;
        border-radius: 10px;
        cursor: pointer;

        &:hover{
          svg{
            transform: translateX(30%);
          }
        }

        svg{
          transition: .1s ease-in;
          color:base.$text-gray;
          scale: 1.4;
        }
      }

      &>div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &--name-image{
        height: 4rem;
        display: flex;
        gap:1.4rem;
        align-items: flex-start;

        img{
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
         aspect-ratio: 1/1;

        }
      }

      &--ratings{
        display: flex;
        gap: 1rem;

        &>div{
          height: 4rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
        }
      }

      p{
        width: 100%;
        max-height: 2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

    }
    
  }


}



.ratings-modal {
  width: 50vw;
  height: 80vh;
  animation: down 0.2s ease-out;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  overflow: auto;

  &__list {
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}

.single-modal-rating {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: max-content;
  padding-top: 1rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0rem 1rem;

    &--img {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      img {
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
        object-fit: cover;
      }

      div {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        h3 {
          color: base.$black;
        }

        p {
          font-size: 0.9rem;
          color: base.$gray;
        }
      }
    }
  }

  &__review {
    height: max-content;
    padding: 1rem;
    margin-top: 1rem;
    p {
      color: base.$black;
    }
  }
}

@media screen and (max-width: 1145px) {
  
  .layout-wrapper{
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .page-halves-layout{
    flex-direction: column;
  }

}


@media screen and (max-width: 905px) {

  .dashboard-container{
    padding-left: 5rem;
  }

}

.column-645{

}

@media screen and (max-width: 645px) {

  .worker-map-container{
    height: calc(100vh - 15rem) !important;
  }

  .vtb-expenses-container{
    margin: unset !important;
  }


.vtb-info {
  
  svg{
    display: none;
  }
}

.card-wrapper{
  width: 100%;
}

.vtb-images-container{
  display: none;
}


  .column-645{
    flex-direction: column;
  }

  .pagination{
    transform: scale(.7);
  }

  .vtb-bottom-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 1rem;
    height: max-content;
  }

  .vtb-offers-container{
    padding: .2rem;
    min-height: 10rem;
    margin-top: 2rem;
  }

  .page-content{
    height: max-content;
    padding-bottom: 5rem;
  }

  .dashboard-container{
    padding-left: 3.2rem;
  }
  
  .content-title-bar p{
    font-size: 1.5rem;
  }

  .page-subtitle{
    gap:1rem;
    flex-direction: column;

    p{
      width: 100%;
      text-align: left;
    }
  }

  .search-box-container{
    width: 100%;
  }

  .ct-form-container{
    flex-direction: column;
  }

  .info-flex{
    h4,p{
      font-size: 1rem;
    }
  }

  .ratings-modal,.send-offer-modal {
    width: 90%;
  }

  .home-bottom-section{
    flex-direction: column;
  }

  .ic-title{



    >div h2{
      font-size: 1rem !important;
    }
  }

  .ic-date{
    font-weight: normal !important;
  }

  }

.accept-offer-chat{
  width: max-content;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap:1rem;
  border-radius: 1.5rem;
  border: 1px solid base.$light-blue;
  cursor: pointer;
  transition: .1s ease-in;

  p{
    font-size: .8rem;
    color: base.$light-blue;
  }

  svg{
    color: base.$light-blue;
  }

  &:hover{
    background-color: base.$light-blue;

    p,svg{
      color: base.$pale-blue;

    }
  }
}

.offers-modal{
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;


  .offers-content{
    width: 60vw;
    height: 90vh;
    display: flex;
    align-items: center;
    gap:1rem;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    animation: down 0.5s ease-out forwards;
    
    &__close{
      height: 3rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 1rem;

      svg{
        font-size: 1.6rem;
        color: base.$black;
        cursor: pointer;
      }

    }

    &__scroll{
      min-width: 100%;
      max-height: calc(100% - 5rem);
      min-height: calc(100% - 5rem);
      padding: 2rem;
      overflow: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap:1rem;
      width: max-content;
      padding-bottom: 2rem;
      overflow: auto;
    }
    
    &__single-offer{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4rem;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      h3{
        color: base.$black
      }

    }
  }

}

.worker-map-container{
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  background: transparent;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.wh-map{
  width: 100%;
  height: 100%;
}

.wh-map-options{
    width: max-content;
    max-height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap:1rem;
    border-radius: 1.5rem;
    border: 1px solid base.$light-blue;
    cursor: pointer;
    transition: .1s ease-in;
  
    p{
      font-size: .8rem !important ;
      color: base.$light-blue;
    }
  
    svg{
      color: base.$light-blue;
    }
  
    &:hover{
      background-color: base.$light-blue;
  
      p,svg{
        color: base.$pale-blue;
  
      }
    }
}

.wm-city-select{
  position: absolute;
  width: 15rem;
  height: max-content;
  padding: 1rem;
  top:1rem;
  right: 1rem;
  z-index:99999;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.wm-dot{
  width: 15px;
  height: 15px;
  background-color: rgb(0, 140, 255);
  border: 1px solid white;
  cursor: pointer;
  outline: none;
}

.wait-spinner {
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  
  & .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 2s ease-in-out infinite;
    transform-origin:center;
  }
  @keyframes dash {
    0% {
      transform: scale(0.1);
      opacity:0.8,
        
    }
    
    100% {
      transform: scale(1);
      opacity:0,
    }
  
  }
}


.st-button{
    width: max-content;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap:1rem;
    border-radius: 1.5rem;
    border: 1px solid base.$light-blue;
    cursor: pointer;
    transition: .1s ease-in;
  
    p{
      font-size: .8rem;
      color: base.$light-blue;
    }
  
    svg{
      color: base.$light-blue;
    }
  
    &:hover{
      background-color: base.$light-blue;
  
      p,svg{
        color: base.$pale-blue;
  
      }
    }
}

@media screen and (max-width: 900px) {
  .view-offers-modal{
    width: 100vw;
    min-height: 100vh;
    padding: 5rem 1rem;
  }

  .view-offers-modal__content__single-offer--name-image{
    h4{
      font-size: .8rem;
    }
  }

  .view-offers-modal__content__single-offer--arrow{
    height: 2.5rem !important;
  }

  .view-offers-modal__content__single-offer--ratings{
    gap:.2rem;
  }

  .view-offers-modal__content__single-offer--ratings__container{
    h4{
      font-size: .7rem;
    }
  }
 }

@media screen and (max-width: 420px) {


  .layout-wrapper{
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-top: 5rem !important;
  }

  .page-content{
    padding-bottom:7rem;
  }

  .dashboard-container{
    padding: 0 !important
  }

  .content-title-bar{
    button{
      position: fixed !important ;
      right: 1rem;
      width: max-content;
      bottom: 7rem;
      gap:.5rem;
      border-radius: 10px;
      height: 4rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      z-index: 999999;
      padding: 0 1rem;
      text-align: end;
      svg{
        font-size: 1.4rem;
        display: block;
      }

      bottom:5.5rem;
      width: 90%;
      height: 2.5rem;
      left:50%;
      transform: translateX(-50%);
      justify-content: center;
      gap:2rem;

    }
  }

  .ct-map-container{
    height: 20rem;
  }

} 